.DS_Store
.idea/
*.iml
.docker/
target/
.project
.classpath
.settings/
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next
dependency-reduced-pom.xml
tmp/
release.properties

/native-image-config*/
/providers/

/*.json
